<span class="logo">StyleList</span>
<div class="signup">
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
  <form class="signup-form" action="<%= users_url %>" method="post">
    <%= auth_token_input %>
    <div class="signup-labels">
      <label class="signup-label">
        <!-- Name -->
      </label>
      <input class="signup-input" type="text" name="user[name]" placeholder="Name" value="<%= @user.name %>">

      <label class="signup-label">
        <!-- Email -->
      </label>
      <input class="signup-input" type="text" name="user[email]" placeholder="Email"value="<%= @user.email %>">

      <label class="signup-label">
        <!-- Password -->
      </label>
      <input class="signup-input" type="password" placeholder="Password" name="user[password]" value="">

      <label class="signup-label"></label>
      <input class="signup-input" type="text" name="user[zipcode]" placeholder="Zipcode" value="<%= @user.zipcode %>">
      <label class="signup-label">
        <%= radio_button("user", "temp_offset", -5) %>
        Do you get cold too easily...
        <br>
        <%= radio_button("user", "temp_offset", 0) %>
        Usually happy as a clam...
        <br>
        <%= radio_button("user", "temp_offset", 5) %>
        Or warm too easily?
      </label>
      <input class="signup-submit" type="submit" value="Sign Up">
    </div>

  </form>
</div>
